body {
  overflow: hidden;
}
main {
  display: block;
}
main.loading {
  display: none;
}
.bg {
  /* background-image: url(bg.jpg); */
  background-size: cover;
  position: fixed;
  transition: opacity 1s;
  z-index: 0;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#loader {
  user-select: none;
  display: none;
  transition: transform .3s;
  transform: rotate(0);
}

#loader.animated {
  animation: bounce .4s infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}
#loader.active {
  transition: transform .3s;
  cursor: progress;
  transform: rotate(0);
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}
#loader.play {
  transition: transform .3s;
  transform: skewY(15deg) rotate(-60deg);
  cursor: pointer;
}

#loader span {
  font-family: sans-serif;
  position: absolute;
  top: 10px;
  left: 55%;
  opacity: 0;
  transform: rotate(57deg);
  animation: fadeIn .3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#loader .playText {
  display: none;
}
#loader.play .playText {
  display: block;
  top: -6px;
  left: 63%;
  transform: rotate(54deg);
  animation-delay: 0s;
}
#loader.play .loadingText {
  display: none;
}


#lashook {
  position: absolute;
  top: calc(50% - 180px);
  right: 100%;
  animation: move 300s;
  animation-timing-function: cubic-bezier(0.11, 0.43, 0.25, 1);
}
#lashook img {
  width: 400px;
}
#shav {
    position: absolute;
    top: calc( 50% - 135px);
    left: 100%;
    animation: moveL 300s;
    animation-timing-function: cubic-bezier(0.11, 0.43, 0.25, 1);
}
#shav img {
  animation: rotate 60s infinite;
  animation-timing-function: linear;
  width: 300px;
}


@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50vw);
  }
}
@keyframes moveL {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50vw);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 10px, 0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}